    <!--footer-->
    <footer class="one ">
        <div class="col-one">
            <div class="col-sm-4">
                <h4>Contact us</h4>
                <div class="i">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p class="para">Location</p>        
                </div>
                <div class="i">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p class="para"> Call +49 100063823</p>         
                </div>
                <div class="i">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <p class="para">info@gmail.com</p>           
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Feinster Genus Seit 1995</h4>
                <p class="pa">Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with</p>
                <div class="icons-tab">
                    <a href="" class="icons">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="icons">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="icons">
                      <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="icons">
                      <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-2">
                <h4>Opening Hours</h4>
                <p>10AM - 12PM</p>
            </div>    
        </div>
        <hr>
        <div class="col-two">
            <div class="nav">
                <a href="#">Aktuellis</a>
                <a href="#">Starttait</a>   
                <a href="#">Impressum</a>   
                <a href="#">Reserve</a>   
            </div>
        </div>
    </footer>